# Notes
{% macro sentence_case(text) %}{{ text[0]|upper}}{{text[1:] }}{% endmacro %}

> I have a terrible memory so need to write this all down.

---

## Topics

{% for note in notes -%}
* [{{ sentence_case(note) }}](#{{ note }})
{% endfor %}

---

{% for note in notes -%}
### {{ sentence_case(note) }}

{% for note_file in notes[note] -%}
* [{{ note_file["title_filename"] }}]({{ note_file["fullpath"] }})
{% endfor %}

{% endfor %}
