# Notes

> I have a terrible memory so need to write this all down.

---

## Topics
{% for divider in results.bindings %}
* [{{ divider.divider_name.value }}](#{{ divider.divider_name.value|lower }})
{%- endfor %}

---
{% for divider in results.bindings %}
### {{ divider.divider_name.value }}
{% for note in divider.notes.value.split('||') %}
* [{{ note.split('|')[0] }}]({{ note.split('|')[1] }})
{%- endfor %}
{% endfor -%}
