# TIL
{% macro sentence_case(text) %}{{ text[0]|upper}}{{text[1:] }}{% endmacro %}

> A collection of knowledge I learn throughout the day.  Do not want to write a full blown blog on the topics but do want to record them for other folks who stumble upon them or myself, I have a terrible memory.

---

## Topics

{% for markdown in markdowns %}
* [{{ sentence_case(markdown) }}](#{{ markdown }})
{% endfor %}

---

{% for markdown in markdowns %}
### {{ sentence_case(markdown) }}

{% for markdown_file in markdowns[markdown] %}
* [{{ markdown_file }}]({{ markdowns[markdown][markdown_file]["fullpath"] }})
{% endfor %}

{% endfor %}